@media (max-width: 1520px) {}

@media (max-width: 1440px) {
    .nav__main--click {
        max-width: 770px;
    }

    .nav__main--click_btn {
        max-width: 320px;
    }

    .header__img {
        max-width: 596px;
    }

    .header {
        min-height: 520px;
    }
}

@media (max-width: 1200px) {
    .header__img {
        max-width: 550px;
    }

    .header__main h1 {
        font-size: 37px;
        max-width: 480px;
    }

    .header__main p {
        font-size: 20px;
    }

    .header__main h2 {
        font-size: 25px;
        line-height: 120%;
        max-width: 532px;
        margin-bottom: 49px;
    }

    .header__main h2 {
        font-size: 22px;
        max-width: 466px;
    }

    .nav__main--logo {
        max-width: 165px;
    }
}

@media (max-width: 991px) {
    .nav__main--click {
        display: none;
    }

    .nav__main--circly {
        display: block;
        background-color: transparent;
        padding: 0;
    }

    .nav__link ul {
        display: none;
    }

    .nav__link {
        justify-content: space-between;
        padding: 15px 0;
    }

    .nav__link--mobile {
        display: flex;
        align-items: center;
    }

    .nav__link .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__img {
        max-width: 465px;
    }

    .header__main h1 {
        font-size: 32px;
        max-width: 480px;
    }

    .header__main h2 {
        font-size: 20px;
        max-width: 325px;
        margin-bottom: 30px;
    }

    .header__main p {
        font-size: 20px;
        max-width: 300px;
    }

    .header {
        min-height: 400px;
    }

    .btn {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .header__img {
        max-width: 300px;
        transform: translateY(-23%);
    }
}

@media (max-width: 575px) {
    .header {
        min-height: auto;
        padding: 30px 0 60px;
    }

    .header__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header__main h1 {
        font-size: 30px;
        max-width: 280px;
        margin-bottom: 15px;
    }

    .header__main h2 {
        font-size: 23px;
        max-width: 280px;
        margin-bottom: 260px;
    }

    .header__main p {
        max-width: 280px;
        margin-bottom: 10px;
    }

    .header__img {
        right: 50%;
        max-width: 320px;
        transform: translate(50%, -23%);
    }
}